<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Successful Registration
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
        <h2>Registered successfully</h2>
    {% endblock %}
</body>
</html>