<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Registration
        {% endblock %}
    </title>
</head>
<body>
    {% block contentright %}
        <!--<h2>Register</h2>
        <form action="/accounts/register/" method="post" >
            {% csrf_token %}
            <table>
                {{form.errors}}
                {{form}}
            </table>

            <input type="submit" value="Register"/>
        </form>-->
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Sign up now</h3>
                <p>Fill in the form below to get instant access:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" action="" method="post" class="registration-form" action="/accounts/register/">
                {% csrf_token %}
                <div class = "form-group">

                <table>
                    {{form.errors}}
                    {{form}}
                </table>
                <button type="submit" class="btn">Sign me up!</button>
                </div>
                <!--<div class="form-group">
                    <label class="sr-only" for="form-first-name">First name</label>
                    <input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-last-name">Last name</label>
                    <input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-email">Email</label>
                    <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-about-yourself">About yourself</label>
                    <textarea name="form-about-yourself" placeholder="About yourself..."
                              class="form-about-yourself form-control" id="form-about-yourself"></textarea>
                </div>-->

            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>


