<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Search
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
        <form action="/search/" method="post">
            {% csrf_token %}
            <input type="text" name="term" size="30"> <input type="submit" value="Search">
        </form><hr>
        {% if result %}
	        {% for res in result %}
	            <li>{{ res }}</li>
	        {% endfor %}
        {% endif %}
    {% endblock %}
</body>
</html>