<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Your Shopping Platform
        {% endblock %}
    </title>
</head>
<body>
{% block content %}
    <p>This is landing page</p>
{% endblock %}
</body>
</html>